/*      H E A D E R     */
.header{
    position: relative;
}
.header.background{
    background-color: var(--surface-dark);
    height: 100vh;
}
.header .conteiner{
    display: flex;
    width: min(600px, 100%);
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.header .conteiner > p:nth-child(3){
    padding: 0 2em 4em;
}
.header button{
    margin: 1em;
}
.scrollToSeeMore{
    position: absolute;
    bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
    opacity: 0;
    animation: scrollToSeeMore 1s  2s  forwards ;
}

@keyframes scrollToSeeMore {
  from {opacity: 0;}
  to {opacity: 1;}
}
/*      T R A M A    */
.trama{
    padding: 6em 0;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
.trama-container{
    display: flex;
    flex-wrap: wrap;
}
.trama-container > *{
    /* max-width: min(400px , 100%); */
    /* flex: 1/3; */
}
.trama .img1{
    background-color: rgb(149, 149, 90);
    min-height: 250px;

}
.trama .img2{
    background-color: rgb(147, 61, 61);
    min-height: 250px;
}
