.HistoriaPage .mapContainer{
    width: 100%;
    aspect-ratio: 4300/1500;
    /* position: sticky; */
    display: block;
    top: 3em;
    z-index: 50;
}
/* .HistoriaPage .mapContainer.short{
    width: 100%;
    aspect-ratio: 4300/500;
} */


@media only screen and (max-width: 800px) {
    .grid{
      grid-template-columns: repeat(3, 1fr);
    }    
}