.registros .registro:last-child .line{
    height: 2em;
}

.registros{
    z-index: -1;
    --line-color: var(--grey-lighter);
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}
.registros > h2{
    margin: 0 2rem;
}
.registros .circle{
    width: 16px;
    height: 16px;
    background-color: var(--line-color);
    border-radius: 100%;
}
.registros .line{
    height: 100%;
    width: 2px;
    margin-left: 7px;
    background-color: var(--line-color);
}
.registro {
    display: flex;
}
.registro .title{
    width: 600px;
    min-width: 270px;
    margin: 0 1rem;
}
.registro .subtitle{
    color: var(--line-color);
}
.registro .header{
    display: flex;
    gap: 1rem;
}
.registro .text{
    gap: 10px;
    padding-bottom: 2em;
    margin: 0 1rem;
    position: relative;
}
.registro .text .point{
    margin-left: 1.5rem;
}
.registro .text .point::before{
    content: "";
    position: absolute;
    width: .5rem;
    height: .2rem;
    background-color: #fff;
    border-radius: .1rem;
    left: 0rem;
    margin-top: .7rem;
}
.HistoriaPage .h2{
    margin: 1.5em 0;
    margin-bottom: 0.5em;
}


@media only screen and (max-width: 1200px) {
    .registros {
        margin: 0 1rem;
    }
}
@media only screen and (max-width: 800px) {
    .registro .title{
        width: inherit;
    }
    .registro .header{
        flex-direction: column;
    }
}