:root {
  /* Variables */
  /*    Color */
  --blue-darker: #020711;
  --blue-dark: #0f131a;
  --blue-default: #171b22;
  --blue-light: #22324e;
  --blue-lighter: #637aa4;
  --red-default: #8d1818;
  --yellow-default: #e3b439;
  --cyan-default: #176fa0;
  --cyan-dark: #1C3737;
  --green-default: #7aad26;
  --grey-darker: #050505;
  --grey-dark: #333;
  --grey-default: #666;
  --grey-light: #999;
  --grey-lighter: #fff;
  --alana-default: #944E91;
  --alana-light: #CF6FCB;
  --alana-dark: #6B2468;
  --alana-darker: #151115;
  --deiken-default: #C84040;
  --deiken-light: #F46363;
  --deiken-dark: #781C1C;
  --deiken-darker: #160e0e;
  --utena-default: #DA8639;
  --utena-light: #F2A259;
  --utena-dark: #A85E1A;
  --utena-darker: #14100c;
  --relho-default: #639A38;
  --relho-light: #87CA52;
  --relho-dark: #325A12;
  --relho-darker: #0e110a;
  --eko-default: #386EAF;
  --eko-light: #6898D1;
  --eko-dark: #1F5393;
  --eko-darker: #0b1016;
  --corona-background: #101012;
  --corona-text: #97FFC1;
  --abadia-background: #121216;
  --abadia-text: #AECFFF;
  --acechadores-background: #130E15;
  --acechadores-text: #D5D878;
  --escuadron-background: #121111;
  --escuadron-text: #F2BD6C;
  --comerciantes-background: #151110;
  --comerciantes-text: #FFBB55;
  --lanza-background: #181210;
  --lanza-text: #E7FF55;
  --doctos-background: #121017;
  --doctos-text: #FF55F8;
  --orden-background: #000000;
  --orden-text: #D68989;

  /* Color Theme */
  --text-default: var(--grey-lighter);
  --text-selected: var(--yellow-default);
  --surface-default: var(--blue-default);
  --surface-dark: var(--blue-darker);
  --navbar-surface: var(--surface-dark);
  --navbar-text: var(--text-default);
  --navbar-textselected: var(--text-selected);
  --button-default: var(--red-default);
  --button-small: var(--cyan-dark);
  --button-default-hover: var(--cyan-default);
  --button-default-text: var(--text-default);
  /* Text size */
  --text-size: 16px;
  --text-small: 12px;
  --text-size-6: 21.3px;
  --text-size-5: 28.4px;
  --text-size-4: 37.9px;
  --text-size-3: 50.5px;
  --text-size-2: 67.3px;
  --text-size-1: 89.8px;
  --text-size-button: var(--text-size);

  --font-text: 'Century Gothic Paneuropean', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-titles: 'Caviar Dreams', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*  */
  font-family: var(--font-text);

  line-height: 1.5;
  font-weight: 400;
  font-size: var(--text-size);
  color-scheme: light dark;
  color: var(--text-default);
  background-color: var(--surface-default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}
button, a{
  cursor: pointer;
  color: inherit;
}
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: var(--font-titles) ;
  font-weight: bold;
  text-transform: uppercase;
}
.h1{
  font-size: var(--text-size-1);
  line-height: 1.536;
  letter-spacing: -0.04em;
}
.h2{
  font-size: var(--text-size-2);
  letter-spacing: -0.03em;
}
.h3{
  font-size: var(--text-size-3);
  letter-spacing: -0.02em;
}
.h4{
  font-size: var(--text-size-4);
  letter-spacing: -0.02em;
}
.h5{
  font-size: var(--text-size-5);
    letter-spacing: -0.01em;
}
.h6{
  font-size: var(--text-size-6);
  letter-spacing: 0em;
}
.text-small{
  font-size: var(--text-small);
  letter-spacing: 0.1em;
}
.subtitle{
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
button{
  font-family: var(--font-text);
  font-size: var(--text-size-button);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  background-color: var(--button-default);
  color: var(--button-default-text);
  padding: .8em 3em;
  border-radius: 5em;
  transition: all .3s;
}
.btn-small{
  background-color: var(--button-small);
  padding: .5em 1.5em;
}
button:hover{
  background-color: var(--button-default-hover);
}
p{
  padding-bottom: 1em;  
}

.grid{
  max-width: 1200px;
  margin: auto;
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  height: 100%;
}
.col-3{
  grid-column: span 3;
}
ul{
  list-style: none;
  font-family: var(--font-text);
  font-size: var(--text-size-button);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

*::-webkit-scrollbar {
  width: .8em;
}
 
*::-webkit-scrollbar-track {
  background-color: var(--surface-dark);
}
 
*::-webkit-scrollbar-thumb {
  background-color: var(--blue-lighter);
}
@media only screen and (max-width: 1200px) {
    .header > *{
      margin: 2rem;
      margin-right: 2rem;
      max-width: 100%;
    }
}
/* @media only screen and (max-width: 800px) {
    .grid{
      grid-template-columns: repeat(3, 1fr);
    }    
} */

@media only screen and (max-width: 600px) {
    .h1{
      font-size: var(--text-size-2);
      letter-spacing: -0.03em;
    }  
}
@media only screen and (max-width: 480px) {
    .h1,.h2{
      font-size: var(--text-size-3);
      letter-spacing: -0.03em;
    }  
}